/* This class stylize the parent element */
.menu-bar {
	padding: 10px;
	box-sizing: content-box;
	/* bakcground opacity transition */
	background-color: rgba(255, 255, 255, 0.7);
	transition: background-color 0.15s linear;
	/* menu bar sticy (always on top) */
	top: 0;
	left: 0;
	position: sticky;
	/* There is float elements. If we want they be beside the other we should use clear  */
	clear: both;
	display: block;
	/* Shadow */
	-webkit-box-shadow: 2px 5px 18px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 5px 18px 2px rgba(0, 0, 0, 0.5);
}

.menu-bar:hover {
	background-color: rgba(255, 255, 255, 1);
}
/* Remove default link style */
.menu-bar a {
	color: black;
	padding: 10px;
	text-decoration: none;
}

.menu-bar a:hover,
.menu-bar a:active {
	background-color: #e6e6e6;
}

/* Smaller smartphones */
@media (max-width: 480px) {
	.menu-bar {
		box-sizing: content-box;
		text-align: center;
	}

	/* This button is used in small device like phones.
     In these cases, the button hide/show the menu bar link. */
	.menu-bar button {
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		transition: transform 0.15s linear;
	}

	.menu-bar button:active {
		background-color: #e6e6e6;
	}

	/* Hide the links at the beginning */
	.menu-bar-links {
		display: none;
	}

	/* Add transition style */
	.menu-bar-links {
		transition: display 5s linear;
	}

	/* Show the link one after the other */
	.menu-bar a {
		display: block;
	}
}

/* Tablets, larger Smartphones, Laptops and desktops comupters */
@media (min-width: 481px) {
	/* This style is for the site name and the link container */
	.menu-bar > * {
		padding: 5px;
		display: inline-block !important;
	}

	/* Hide the menu bar button */
	.menu-bar button {
		display: none;
	}
	/* Put the link to the right of the menu bar */
	.menu-bar-links {
		float: right;
	}
}
