/* This class make the parallax effect. Taken frm w3school */
.parallax {
	/* The image used */
	background-image: url("img_parallax.jpg");

	/* Set a specific height */
	min-height: 500px;
	max-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* This is the text section, it has an h2 and some text */
.text {
	/* We dont want to has big width */
	margin: auto;
	padding: 30px;
}

.text p {
	text-align: justify;
}
.text h2 {
	text-align: center;
}
/* The hero banner is in the index page */
.hero-banner {
	/* The text in the image must be centered */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-banner > * {
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}
/* Remove h1 default style */
.hero-banner h1 {
	margin: 0;
	font-size: 45px;
}

/* Tablets, larger Smartphones, Laptops and desktops comupters */
@media (min-width: 481px) {
	.text {
		/* We dont want to has big width */
		width: 50%;
	}
}

/* Smaller smartphones */
@media (max-width: 480px) {
	.text {
		/* We dont want to has big width */
		width: auto;
	}
}
