<footer>
    <div class="footer-contact">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="" width="120px" />
        <ul>
            Contacto
            <li><a href="https://www.instagram.com/zaratustra_uninorte" title="Instagram">Instagram</a></li>
            <li><a href="https://www.facebook.com/ZaratustraUN/" title="Facebook">Facebook</a></li>
            <li><a mailto="zaratustra@uninorte.edu.co" title="Escribir Correo">Correo</a></li>
        </ul>

        <ul>
            Mapa del sitio
            <li><a href="{{ site.baseurl }}/">Inicio</a></li>
            <li><a href="{{ site.baseurl }}/events">Eventos</a></li>
            <li><a href="{{ site.baseurl }}/review">Reseñas</a></li>
        </ul>
    </div>
    <div class="footer-copyright"> Zaratustra 2021 </div>
</footer>